-
    var url = require('./../variables-for-templates').url

.blog-block
    .col-12.my-5
        h1.text-white.text-center.text-uppercase.big
            u.border-light Блог
    .col-xl-11.mx-auto.col-lg-11.col-md-12.row
        .col-lg-6.blog-blocks
            h2.position-absolute.text-light.text-underline Как создать видео для блога, которое продает
            .col-12.mt-5.px-0.pt-5
                img.px-0.col-12(src=url + '/assets/images/blog/blog4.jpg')
            h5.text-white.mt-2.mb-4 30 апреля 2018 &nbsp;
                span
                    img(src=url + '/assets/svg/eye.svg', height='35').pb-1
                | &nbsp;&nbsp;999
        .col-lg-6.blog-blocks
            h2.position-absolute.text-light.text-underline 5 шагов для создания маркетингового плана
            .col-12.mt-5.px-0.pt-5
                img.px-0.col-12(src=url + '/assets/images/blog/blog5.jpg')
            h5.text-white.mt-2.mb-4 30 апреля 2018 &nbsp;
                span
                    img(src=url + '/assets/svg/eye.svg', height='35').pb-1
                | &nbsp;&nbsp;999
    .col-lg-11.col-md-12
        h5.text-white.text-right.text-uppercase
            u.text-uppercase.border-light Читать все статьи
    //.col-xl-10.mx-auto.col-lg-10.col-md-12.row
    //    .col-7.px-0
    //        .blog-part-5
    //            .block-area
    //                h1.col-10.mx-auto.part-text.text-light.text-uppercase Каждый день мы узнаем что-то новое.&nbsp;
    //                    | Хотите получить этот багаж знаний?
    //            .blog-arrow
    //                img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
    //            img(src=url + '/assets/images/blog/blog3.jpg', alt='')
    //    .col-5.px-0
    //        .col-12.px-0
    //            .blog-part-3
    //                .block-area
    //                    h1.col-10.mx-auto.part-text.text-light.text-uppercase Как писать продающие статьи?
    //                .blog-arrow
    //                    img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
    //                img(src=url + '/assets/images/blog/blog2.jpg', alt='')
    //        .col-12.px-0
    //            .blog-part-2
    //                .block-area
    //                    h3.col-10.mx-auto.part-text.text-light.text-uppercase Читать все статьи...
    //                .blog-arrow
    //                    img(src=url + '/assets/images/blog/blog-arrow.png', alt='')
    //                img(src=url + '/assets/images/blog/blog1.jpg', alt='')
