-
    var url = require('./../variables-for-templates').url

#PartnersBlock.partners-block
    .col-12.mt-5
        h1.text-white.text-center.text-uppercase.big
            u.border-light Наши клиенты
    .col-xl-11.col-lg-11.col-md-12.mx-auto.px-xl-0.px-lg-0.px-md-0.row.text-center.mt-5.companies-list.owl-carousel.owl-theme
        div.p-3
            img.company-image(src=url + '/assets/images/companies/ciklum.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/globallogic.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/sumsung.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/privat.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/infopulse.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/softserve.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/cybervision.jpg', alt='')
        div.p-3
            img.company-image(src=url + '/assets/images/companies/luxoft.jpg', alt='')
