-
    var url = require('./../variables-for-templates').url

#TeamBlock.team-block
    .col-12.mt-5
        h1.text-white.text-center.text-uppercase.big
            u.border-light Команда
    .col-lg-9.col-md-8.mx-auto.px-0.row.text-center.mt-5.team-list.owl-carousel.owl-theme
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher1.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher2.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher3.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher1.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher2.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher3.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher1.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher2.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
        .cursor-pointer
            .col-lg-12
                img.col-lg-10.col-md-12.mx-auto.team-member-image(src=url + '/assets/images/team/teacher3.png', alt='')
            h4.text-light.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            h6.text-uppercase.text-light.toggle-ref.font-weight-bolder
                span Название должности
